.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('/images/bg_page.png');
  background-size: cover;
  background-position: center;
  padding: 0 50px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.text-container {
  max-width: 50%;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 128px;
  color: #C1F130; /* измененный цвет */
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
  
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  margin-left: 40px;

}

.button {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px 20px;
  border: 2px solid #C1F130; /* измененный цвет */
  border-radius: 8px; /* Увеличена радиус скругления */
  background: #C1F130; /* измененный цвет */
  color: #11261F;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #11261F; /* измененный цвет при наведении */
  color: #C1F130; /* цвет текста при наведении */
}

.image-container img {
  max-width: 110%;
  height: auto;
}

.fitnessModel {
  margin-top: 50px;
}

